.homeBanner {
    background-color: #343a40;
    background: url("../imgs/buildings.png") no-repeat center center;
    background-size: cover;
}

.pagesBanner {
    background-color: #343a40;
    background: url("../imgs/twoMacs.png") no-repeat center center;
    background-size: cover;
}

header.masthead {
    position: relative;
    height: 700px;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.fadeIn {
    opacity: 0;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 72px;
    margin: 0px auto;
    -webkit-animation: fadein 5s;
    animation: fadein 5s;
    z-index: 100;
}

.mainContent {
    padding-top: 10px;
}

.parallax {
    background-image: url(../imgs/coding.png);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paraText {
    font-size: 36px;
    margin: auto auto;
    padding: 0 50px;
}

.filler {
    margin-top: 100px;
}

.thankyou {
    margin: 50px;
}

.fade {
    opacity: 0;
}

.diagbox {
    background-color: #206BC7;
    margin-top: 150px;
    padding: 5% 20px;
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
}

.diagbox>.wrapper {
    z-index: 1000;
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
    color: #FFFFFF;
}

.reversediagbox {
    background-color: #206BC7;
    margin-top: 100px;
    padding: 5% 20px;
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
}

.reversediagbox>.wrapper {
    z-index: 1000;
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    color: #FFFFFF;
    text-align: center;
}

.notify {
    text-align: center;
    font-size: 3em;
}

.footer {
    margin-top: 100px;
    background-color: #2780E3;
    height: 50px;
}