<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><h2>User List</h2></div>
                        <h4>Filter By:</h4>
                        <p>
                        <input type = "radio" name = "filter" v-model = "filter" id = "none" selected value="none">
                        <label for= "none">No Filter</label>
                        <input type = "radio" name = "filter" v-model = "filter" id = "approved" value="approved">
                        <label for= "approved">Approved Users</label>
                        <input type = "radio" name = "filter" v-model = "filter" id = "unapproved" value="unapproved">
                        <label for= "Unapproved Users">Unapproved Users</label>
                        </p>
                    <div class="card-body">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>User Name</th>
            <th>user Email</th>
            <th>Approve/Unapprove</th>
        </tr>
        </thead>
        <!-- List of all users -->
        <tbody v-if="filter=='none'">
            <tr v-for="user in this.users" :key = user.id>

                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td><toggle-button @change="onChangeEventHandler(user)" :value= user.approved :labels="{checked: 'Active', unchecked: 'Inactive'}" style="margin-left: 20px" /></td>
            </tr>
        </tbody>
        <!-- End of All Users -->

        <!-- List of Approved Users -->
        <tbody v-if="filter=='approved'">
            <tr v-for="user in activeUsers" :key = user.id>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td><toggle-button @change="onChangeEventHandler(user)" :value= user.approved :labels="{checked: 'Active', unchecked: 'Inactive'}" style="margin-left: 20px" /></td>
            </tr>
        </tbody>
        <!-- End of Approved Users -->

        <!-- List of Unapproved Users -->
        <tbody v-if="filter=='unapproved'">
            <tr v-for="user in inactiveUsers" :key = user.id>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td><toggle-button @change="onChangeEventHandler(user)" :value= user.approved :labels="{checked: 'Active', unchecked: 'Inactive'}" style="margin-left: 20px" /></td>
            </tr>
        </tbody>

        <!-- End of Unapproved Users -->

    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import CustomButton from './ExampleComponent.vue'

  export default {
  components: { CustomButton },
  computed:{
      activeUsers: function(){
          return this.users.filter(function(u){
              return u.approved;
          });

      },
      inactiveUsers: function(){
        return this.users.filter(function(u){
            return !u.approved;
        });
      }
  },
      data() {

        return {
          users: [],
          filter: 'none',

        }
      },
      methods: {
            onChangeEventHandler(user){
                user.approved==false ? user.approved=true : user.approved = false;
                let id = user.id;
                axios.post('http://localhost:8888/Tapp/public/api/users/update/' + id, {
                    data: user,
                    _method: 'put'
                })
                .then(function (response) {
                    console.log(response);
                        console.log(self.activeUsers);
                })
                .catch(function (error) {
                    console.log(error);
                });
            }
          },
            created() {
                let uri = 'http://localhost:8888/Tapp/public/api/users';
                this.axios.get(uri).then(response => {
                    this.users = response.data;
                });
            }
  }
</script>
